body {
	background: #f2f2f2;
	color: #373737;
	font-family: 'Helvetica Neue';
	font-weight: 300;
	margin: 0;

	* {
		box-sizing: border-box;
	}
}

a {
	color: #232c82;
	text-decoration: none;
	text-transform: uppercase;

	&:hover {
		text-decoration: underline;
	}
}

h1,
h2,
h3 {
	font-family: 'Garand';
  border-bottom: 1px dotted #686868;
  font-weight: 500;
}

h1 {
	font-size: 16px;
	font-style: italic;
	margin-bottom: 20px;

	em {
		display: block;
		font-size: 42px;
	}
}

.page-container {
	background: #fff;
	margin: 15px auto;
	width: 100%;
	max-width: 800px;
}

.global-nav {
	ul {
		font-size: 0;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		display: inline-block;
		font-size: 15px;
	}

	a {
		padding: 10px 15px;
	}
}

.content-main {
	padding: 5px 35px;
	position: relative;
	min-height: 300px;

	&.has-aside {
		padding-right: 300px;
	}
}

.content-aside {
	position: absolute;
	right: 35px;
	top: 12px;
	width: 225px;
}

.global-footer,
.global-header {
	background: #e8e8e8;
	padding: 20px 35px;
}


.global-footer {
	font-size: 12px;
	text-align: center;
}
